@import "../color";
@import "../mixins";

.container_blog {
  margin: 0 10px;
  position: relative;
  flex-basis: 320px;
  max-height: 420px;
  transition: all 0.3s linear;
    &:hover {
    .img_container {
      .filter_green {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .wrapper_term {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    background-color: $primary-text;
    border-radius: 22px;
    padding :6px;
    z-index: 2;
    outline: 2px;
    p {
      border-radius: 16px;
      background-color: $btn-hover-darkColor;
      padding :2px 20px;
      margin : unset;
      color :white; 

    }
  }
  .img_container {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    .filter_green {
      position: absolute;
      inset: 8px;
      border-radius: 16px;
      height: calc(100% - 16px);
      width: calc(100% - 16px);
      background-color: rgba(1,226,129,.7);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      z-index: 1;
      transform: translateY(10%);
    }
  }
  .blog_content {
    p {
      margin : 10px 0;
      display: flex;
      align-items: center;
      color :$green-btn;
      gap: 20px;
      font-size: $font-size--medium;
      .line {
        display: inline-block;
        flex: 1;
        height :1px;
        background-color : rgba(159,182,203,0.2);
      }
    }
    h3 {
      font-size: 24px;
    }
  }
}
.hidden {
  visibility: hidden;
  transition-delay: .6s ;
}
