@import "../color";
.btn-container {
  max-width: 100%;
  .buttonEntire {
    border: unset;
    outline: unset;
    display: inline-block;
    padding : $spacing--20 $spacing--30;
    transition: all .3s ease-in-out;
    height: 100%;
    cursor: pointer;
    width: fit-content;
    border-radius: 50px;
    padding :15px 30px;
  }
  .primary-button {
    background-color: $green-btn;
    color : $black;
    font-size: $font-size--medium;
    font-weight: unset;
    & > span:first-child  {
      color : inherit;
      font-size: inherit;
      
    }
    & > span {
      line-height: 1;
    }
    &:hover {
      background-color: $btn-hover-darkColor;
      color : $green-btn;
    }
  }
  .btn-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 10px;
    flex-direction: row-reverse;
    span {
      line-height: 1;
    }
  }
  [class^="secondary-"], [class*=" secondary-"] {
    background-color:$btn-hover-darkColor;
    color :$secondary;
    font-weight: bold;
    font-size: $font-size--medium;
    &:hover {
      background-color: $green-btn;
      color : $btn-hover-darkColor;
    }
  }
  [class^="secondary-outline"], [class*="secondary-outline"] {
    background-color: transparent;
    border: 1px solid $btn-hover-darkColor;
    color : $btn-hover-darkColor;
    &:hover {
      border: 1px solid $green-btn;
    }
  }


  .btn-loading  {
    padding : 15px 50px 15px 30px;
    .loading  {
      position: relative;
      left: 30px;
    }
  }
  .success {
    animation: hideAnimation 0s ease-in 1s;
    animation-fill-mode: forwards;
  }
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
}
