@import "../color";
@import "../mixins";

$border :  1.5px solid rgba(167,167,167,.2);
.container-categories_home {
  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    color :$black;
    text-align: center;
    
  }
  .row {
    margin-top: 50px;
    @include mobile {
      justify-content: center;
      padding : 0 20px;
    }
    @include tablet {
      justify-content: center;
    }
    .service_item{
      margin: 10px;
      display: flex;
      justify-items: center;
      align-items: center;
      flex-flow: column nowrap;
      gap: 10px;
      border: $border;
      border-radius: 8px;
      padding : 30px;
      transition: all  .3s ease-in-out;
      text-align: center;
      padding :40px 10px;
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 11px  44px  -6px rgba(0, 0, 0, 0.2) ;
        border-color: $green-btn;
        cursor: pointer;
           .img_container {
            img {
              transform: rotate3d(0 , 1 , 0 , 360deg);
            }
       }
      }
      .img_container {
        width: 80px;
        img {
          transition: all .3s ease-in-out;
        }
        height: 80px;
      }
      .content {
        p {
          font-weight: 900;
          margin-top: 8px;
          line-height: 1.4;
          max-width: 80%;
          margin : 8px auto;
        }
      }
    }
  }
}