@import "../color";
.container-img-lazy-load {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  .lazy {
    display: none;
  }
  .lazy + .spinner {
    display: inline-block;
  }

  .lazy_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }


}
