@import "../color";
@import "../mixins";
@import "../font";

nav {
  max-width: 1440px;
  margin : 0 auto;
  position: relative;
  top: -36px;
  .block_menu {
    background-color: #1C3e56;
    border-radius: 100px;
    padding : 10px;
    .row {
      row-gap: 20px;
      .nav-menu_item {
        &:hover 
        {
          .menu_item {
            .special_offer_dropdown  , .quick_find_dropdown{
              display: block;
            }
          }
        }
        .menu_item{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 100%;
          text-decoration: none;
          color : $white;
          padding :5px 20px;
          font-size:18px;
          gap :10px;
          position: relative;
          span.icon-basket ,& >  svg {
            color :inherit;
            font-size: inherit;
            font-weight: bold;
            transition: $transitionColor;
          }
          &:hover {
           & > span.icon-basket ,  & > p ,& > svg {
              color : $green-btn
            }
          }
         & > .text-medium {
            font-size: inherit;
            transition: $transitionColor;
          }
          .primary-button  {
            font-weight: 600;
          }
          .hot_badge {
            position: relative;
            color : $white;
            font-size: 12px;
            padding :5px;
            text-transform: uppercase;
            z-index: 2;
            &::after {
              position: absolute;
              content:  " ";
              width: 100%;
              height: 100%;
              background-color: #ff4c3b;
              inset: 0;
              z-index: -1;
               border-radius: 8px;
           
            }
          }
          .arrow_down {
            position: absolute;
            right: -5px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .special_offer_dropdown{
          position: absolute;
          top : 100%;
          border-radius: 8px;
          width: 1310px;
          left: -425px;
          background-color: #122d40;
          display: none;
          z-index: 2;
        }
        .quick_find_dropdown {
          display: none;
          position: absolute;
          top : 100%;
          border-radius: 8px;
          background-color: #122d40;
          width: 630px;
          z-index: 2;
        }
      }
      .button_daily {
        margin : 0;
        height: 58px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
@include mobile {
  nav {
    display: none;
  }
}