@import "../font";
@import "../color";

.container_product_list {
  .product_list_header {
    margin-bottom: 20px;
    h2 {
      font-size: 36px;
      font-weight: bold;
      line-height: 1.2;
      color :$black;
      text-align: start;
    }
  }
  .product_list_body {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(2 , 1fr) ;
    gap : 40px;
  }
}