@import "../color";
@import "../mixins";
$border :  1.5px solid rgba(167,167,167,.2);
.container_services {
  cursor: default;
  .row {
    padding :30px 0;
    justify-content: space-evenly;
    row-gap: 20px;
    @include mobile {
      row-gap: 50px !important;
    }
    .service_item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      border: $border;
      border-radius: 8px;
      padding : 30px;
      transition: all  .3s ease-in-out;
      @include mobile {
        padding :40px 10px 30px;
        border-radius: 20px;
        max-width: calc(100% - 20px);
      }
      &:hover {
        cursor: pointer;
        border-color:$green-btn ;
        .img_container {
          img {
            transform: rotate3d(0 , 1, 0, 360deg);
          }
        }
      }
      .img_container {
        width: 97px;
        height: 88px;
        margin-bottom: 40px;
        @include mobile {
          width: 72px;
          margin-bottom: 20px;
          height: 88px;
        }
        img {
          transition: all .3s ease-in-out;
        }
      }
      .content {
        margin : 0 auto;
        p:first-child{
          margin-bottom: 10px;
        }
        .text-x-large {
          font-size: 25px;
          @include mobile {
            font-size: 22px;
            font-weight: bold;
          }
        }
        .text-medium {
          @include mobile {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
